In [1]:
import pandas as pd

PATH = '~/Téléchargements/dataset_DSG_20170405/'

train = pd.read_csv(PATH + 'train.csv')
test = pd.read_csv(PATH + 'test.csv')

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,8273,55830,30,1
1,16,1478014891,305198,48078,1,20140714,0,0,315,1,1,44,2704,28,0
2,16,1479816115,305198,48078,0,20140714,0,0,315,0,1,44,2704,28,0
3,16,1478861309,305198,48078,1,20140714,0,0,315,1,1,44,2704,28,0
4,16,1479428726,305198,48078,0,20140714,0,0,315,0,1,44,2704,28,1

In [23]:
import matplotlib.pyplot as plt

set(test['context_type'])
set(test['listen_type'])
test.groupby(['listen_type', 'context_type']).count()['genre_id']

listen_type  context_type
0            23                  1
1            1               16167
             5                3312
             20                251
             23                187
Name: genre_id, dtype: int64

In [24]:
train = train[train['context_type'].isin([1, 5, 20, 23])]
train.groupby(['listen_type', 'context_type']).count()['genre_id']

listen_type  context_type
0            1                    1
             20                2359
             23                1552
1            1               214866
             5                20860
Name: genre_id, dtype: int64

In [2]:
ts = train['ts_listen']
(ts< 1470065165 ).sum()

436